<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BB_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,1106},{60,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,20},{60,109}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BB_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1506},{73,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,25},{73,112}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BK_ACT_ForTurns.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1831},{88,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,15},{88,174}}</string>
				<key>sourceSize</key>
				<string>{130,203}</string>
			</dict>

			<key>BK_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,391},{70,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,9},{70,135}}</string>
				<key>sourceSize</key>
				<string>{73,160}</string>
			</dict>

			<key>BK_PAS_ForTurns.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1619},{72,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,22},{72,159}}</string>
				<key>sourceSize</key>
				<string>{130,203}</string>
			</dict>

			<key>BK_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,809},{73,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{73,137}}</string>
				<key>sourceSize</key>
				<string>{73,160}</string>
			</dict>

			<key>BN_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,1888},{60,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,21},{60,108}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BN_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,1394},{73,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,26},{73,111}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BP_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,1619},{53,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,51},{53,79}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BP_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,725},{73,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,55},{73,83}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BQ_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,784},{69,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,9},{69,120}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BQ_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,1155},{73,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{73,123}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BR_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,905},{67,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,29},{67,100}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BR_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,947},{73,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,34},{73,103}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>CustomGameIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1361},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>CustomGameIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,472},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>FloppyDiskIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,1963},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>FloppyDiskIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,1963},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{80,79}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>GoldenBishop.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1619},{300,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,82},{300,305}}</string>
				<key>sourceSize</key>
				<string>{300,400}</string>
			</dict>

			<key>GoldenHorse.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,1280},{300,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,108},{300,279}}</string>
				<key>sourceSize</key>
				<string>{300,400}</string>
			</dict>

			<key>GoldenQueen.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1619},{300,343}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,44},{300,343}}</string>
				<key>sourceSize</key>
				<string>{300,400}</string>
			</dict>

			<key>GoldenRook.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1560},{300,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,117},{300,270}}</string>
				<key>sourceSize</key>
				<string>{300,400}</string>
			</dict>

			<key>LoadGameIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1963},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>LoadGameIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,876},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>LoadGameIcon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,391},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>LoadGameIcon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1199},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>NewPvPGameIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,1911},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{79,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>NewPvPGameIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1442},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>NewPvPcGameIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,714},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>NewPvPcGameIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,795},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>Plank.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1925},{277,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{277,28}}</string>
				<key>sourceSize</key>
				<string>{280,30}</string>
			</dict>

			<key>Plank2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1954},{277,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{277,28}}</string>
				<key>sourceSize</key>
				<string>{280,30}</string>
			</dict>

			<key>PlayButt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2012},{79,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{79,28}}</string>
				<key>sourceSize</key>
				<string>{80,30}</string>
			</dict>

			<key>PlayButt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1983},{79,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{79,28}}</string>
				<key>sourceSize</key>
				<string>{80,30}</string>
			</dict>

			<key>QuitIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1118},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>QuitIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,1831},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{79,79}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>SaveGameIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1038},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{80,79}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>SaveGameIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,957},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>SaveLoadMenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{753,639}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,58},{753,639}}</string>
				<key>sourceSize</key>
				<string>{1024,768}</string>
			</dict>

			<key>Save_LoadBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,640},{753,639}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,58},{753,639}}</string>
				<key>sourceSize</key>
				<string>{1024,768}</string>
			</dict>

			<key>ScrollView.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,0},{290,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,390}}</string>
				<key>sourceSize</key>
				<string>{290,390}</string>
			</dict>

			<key>SettingsBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1280},{449,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,0},{449,338}}</string>
				<key>sourceSize</key>
				<string>{500,350}</string>
			</dict>

			<key>SettingsIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,633},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>SettingsIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,553},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{80,79}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>WB_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,1106},{60,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,19},{60,110}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WB_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,1280},{73,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,24},{73,113}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WK_ACT_ForTurns.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,1831},{87,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,15},{87,173}}</string>
				<key>sourceSize</key>
				<string>{130,203}</string>
			</dict>

			<key>WK_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,527},{70,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,9},{70,135}}</string>
				<key>sourceSize</key>
				<string>{73,160}</string>
			</dict>

			<key>WK_PAS_ForTurns.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1279},{71,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,23},{71,158}}</string>
				<key>sourceSize</key>
				<string>{130,203}</string>
			</dict>

			<key>WK_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,503},{73,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{73,137}}</string>
				<key>sourceSize</key>
				<string>{73,160}</string>
			</dict>

			<key>WN_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,1779},{60,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,21},{60,108}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WN_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,391},{73,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,26},{73,111}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WP_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1955},{53,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,51},{53,79}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WP_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,641},{73,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,55},{73,83}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WQ_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,663},{69,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,9},{69,120}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WQ_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1831},{73,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{73,123}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WR_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,1006},{67,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,30},{67,99}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WR_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,1051},{73,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,34},{73,103}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>YesIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1280},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>YesIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,1963},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{80,79}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>