<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BB_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{1963,357},{60,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,20},{60,109}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BB_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{1799,112},{73,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,25},{73,112}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BK_ACT_ForTurns.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,391},{88,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,15},{88,174}}</string>
				<key>sourceSize</key>
				<string>{130,203}</string>
			</dict>

			<key>BK_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,0},{70,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,9},{70,135}}</string>
				<key>sourceSize</key>
				<string>{73,160}</string>
			</dict>

			<key>BK_PAS_ForTurns.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,447},{72,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,22},{72,159}}</string>
				<key>sourceSize</key>
				<string>{130,203}</string>
			</dict>

			<key>BK_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{1873,112},{73,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{73,137}}</string>
				<key>sourceSize</key>
				<string>{73,160}</string>
			</dict>

			<key>BN_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{1963,467},{60,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,21},{60,108}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BN_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{1873,0},{73,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,26},{73,111}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BP_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,817},{53,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,51},{53,79}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BP_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,363},{73,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,55},{73,83}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BQ_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{1912,902},{69,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,9},{69,120}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BQ_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,670},{73,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{73,123}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BR_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{1962,607},{67,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,29},{67,100}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>BR_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{1873,250},{73,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,34},{73,103}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>CustomGameIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,565},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>CustomGameIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,911},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>FloppyDiskIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,646},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>FloppyDiskIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1735,634},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{80,79}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>GoldenBishop.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,640},{300,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,82},{300,305}}</string>
				<key>sourceSize</key>
				<string>{300,400}</string>
			</dict>

			<key>GoldenHorse.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,640},{300,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,108},{300,279}}</string>
				<key>sourceSize</key>
				<string>{300,400}</string>
			</dict>

			<key>GoldenQueen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1052,640},{300,343}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,44},{300,343}}</string>
				<key>sourceSize</key>
				<string>{300,400}</string>
			</dict>

			<key>GoldenRook.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,640},{300,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,117},{300,270}}</string>
				<key>sourceSize</key>
				<string>{300,400}</string>
			</dict>

			<key>LoadGameIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1735,714},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>LoadGameIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,920},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>LoadGameIcon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,920},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>LoadGameIcon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1735,795},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>NewPvPGameIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1766,391},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{79,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>NewPvPGameIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,911},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>NewPvPcGameIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,920},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>NewPvPcGameIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1735,553},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>Plank.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,979},{277,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{277,28}}</string>
				<key>sourceSize</key>
				<string>{280,30}</string>
			</dict>

			<key>Plank2.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,979},{277,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{277,28}}</string>
				<key>sourceSize</key>
				<string>{280,30}</string>
			</dict>

			<key>PlayButt.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,946},{79,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{79,28}}</string>
				<key>sourceSize</key>
				<string>{80,30}</string>
			</dict>

			<key>PlayButt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,946},{79,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{79,28}}</string>
				<key>sourceSize</key>
				<string>{80,30}</string>
			</dict>

			<key>QuitIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1685,472},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>QuitIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1758,876},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{79,79}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>SaveGameIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,888},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{80,79}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>SaveGameIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,807},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>SaveLoadMenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{753,639}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,58},{753,639}}</string>
				<key>sourceSize</key>
				<string>{1024,768}</string>
			</dict>

			<key>Save_LoadBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,0},{753,639}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,58},{753,639}}</string>
				<key>sourceSize</key>
				<string>{1024,768}</string>
			</dict>

			<key>ScrollView.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,0},{290,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,390}}</string>
				<key>sourceSize</key>
				<string>{290,390}</string>
			</dict>

			<key>SettingsBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,640},{449,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,0},{449,338}}</string>
				<key>sourceSize</key>
				<string>{500,350}</string>
			</dict>

			<key>SettingsIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1596,911},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>SettingsIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,911},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{80,79}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>WB_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{1982,902},{60,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,19},{60,110}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WB_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,472},{73,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,24},{73,113}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WK_ACT_ForTurns.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,391},{87,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,15},{87,173}}</string>
				<key>sourceSize</key>
				<string>{130,203}</string>
			</dict>

			<key>WK_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{1912,766},{70,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,9},{70,135}}</string>
				<key>sourceSize</key>
				<string>{73,160}</string>
			</dict>

			<key>WK_PAS_ForTurns.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,607},{71,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,23},{71,158}}</string>
				<key>sourceSize</key>
				<string>{130,203}</string>
			</dict>

			<key>WK_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{1799,225},{73,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{73,137}}</string>
				<key>sourceSize</key>
				<string>{73,160}</string>
			</dict>

			<key>WN_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,708},{60,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,21},{60,108}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WN_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{1799,0},{73,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,26},{73,111}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WP_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,920},{53,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,51},{53,79}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WP_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,586},{73,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,55},{73,83}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WQ_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,136},{69,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,9},{69,120}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WQ_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{1838,898},{73,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{73,123}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WR_Act.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,257},{67,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,30},{67,99}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>WR_Pas.png</key>
			<dict>
				<key>frame</key>
				<string>{{1838,794},{73,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,34},{73,103}}</string>
				<key>sourceSize</key>
				<string>{73,146}</string>
			</dict>

			<key>YesIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1685,391},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>YesIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,727},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{80,79}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>sprites.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1022},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{-2,-2},{1,1}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>